ipython>=8.10
jupyterlab>=3.0
kedro-datasets>=3.0
kedro-viz>=6.7.0
kedro[jupyter]~=0.19.12
notebook
scikit-learn~=1.5.1
setuptools; python_version >= "3.12"
pillow~=11.2.1
autogluon.multimodal>=1.0.0
matplotlib>=3.5.0
seaborn>=0.12.0
pandas>=1.5.0
numpy>=1.21.0
streamlit>=1.28.0
torch>=2.2.0
torchvision>=0.18.0
opencv-python>=4.8.1